* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul > li {
    list-style-type: none;
    padding-top:20px;
}
a {
    text-decoration: none;
    color: aliceblue;
    padding: 30px;
}
li {
    display: inline-block;
}
nav {
    position: absolute;
    background-color: #000666;
    text-transform: uppercase;
    float: left;  
    width: 50%;
    height: 38px; 
}
.left {
    position: absolute;
    left: 0;
    text-align: left;
}
.right {
    position: absolute;
    right: 0;
    text-align: right;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 150px;
    letter-spacing: 1px;
}
.menu {
    width: 50%;
    height: 100px;
    border-top: 100px solid #000666;
    border-right: 650px solid transparent;
    position: absolute;
}
div.menu.right {
    transform: rotateY(180deg);
}




