* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 150px;
    letter-spacing: 1px;
}
nav {
    position: relative;
    background-color: #000666;
    text-transform: uppercase;
    float: left;  
    width: 50%;
    height: 38px; 
}
ul > li {
    list-style-type: none;
    padding-top: 20px;
}
ul {
    display: flex;
    flex-flow: nowrap row;
}
ul.right {
    justify-content: flex-end;
}
a {
    text-decoration: none;
    color: aliceblue;
    padding: 6px;
}
.menu {
    width: 50vw;
    height: 100px;
    top:38px;
    border-top: 100px solid #000666;
    border-right: 50vw solid transparent;
    position: absolute;
}
div.menu.right {
    transform: rotateY(180deg);
}
@media (min-width:768px) {
    a {
        padding: 35px;
    }
}



